{% extends 'base.html' %} {% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src="{{user.image_url}}" alt="{{user.first_name}}'s picture" />
<a href="/users/{{user.id}}/edit"><button>Edit</button></a>
<form action="/users/{{user.id}}/delete" method="post">
  <button>Delete</button>
</form>
<h2>Posts</h2>
<ul>
  {% for post in user.posts %}
  <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
  {% endfor %}
</ul>
<a href="/users/{{user.id}}/posts/new"><button>Add Post</button></a>
{% endblock %}
